@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Roboto:wght@100;300;400&display=swap');

body{
  font-family: Roboto sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;

}
/*================================BAR DE NAVIGATION==================================================*/
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: antiquewhite;
	z-index: 2;
	width: 100vw;
}
.info{
	display: flex;
	align-items: center;
}
.info img{
     width: 60px;
     height: 60px;
     border-radius: 50%;
}
nav .info h2{
	font-size: 15px;
	margin-left: 10px;
}
ul{
	display: flex;
	list-style: none;
}
nav ul li{
	margin-left: 30px;
	cursor: pointer;
	border-bottom: white;
}
nav ul a li:hover{
	color: yellowgreen;
}
.checkbtn{
	display: none;
}
input{
	display: none;
}
#check{
	display: none;
}
.put{
	position: relative;
}
nav ul a{
	text-decoration: none;
}

	/*================================HEADER==================================================*/

.container{
    margin: 2%;
    display: flex;
    justify-content: space-between;
}
header{
	margin-top: 10px;
	max-width: 50%;
	padding-top: 30px;
}
header h1{
	margin: 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 6vw;
	color: black;
	animation-direction: ltr;

}
.container header p{
	line-height: 30px;
}
.informe{
	border: 1px solid black;
	background-color: antiquewhite;
	height: 100%;
	margin-top: 60px;

}
.infor h3{
	margin: 5px;
	border: 1px solid black;
	padding: 5px;
	
}
.présent{
		width: 100%;
		height: 50%;
	}
	.présent img{
		width: 96%;
		height: 50%;
		margin: 0 2%;
		transition: filter 0.5s;
	}
	.présent img:hover {
		filter: brightness(50%);

	}

	/*================================PROJET ==================================================*/
	.projets h1{
		text-transform: uppercase;
		font-family: Roboto sans-serif;
		text-align: center;
		color: royalblue;
	}
	.projet{
		display: flex;
		justify-content: space-between;
		margin-left: 2%;
		
	}
	.projete h4{
        text-transform: uppercase;
        font-family: 'Oswald' sans-serif;
        font-size: 1.5em;
        color: black;
	}
	.description{
		font-size: 15px;
		line-height: 30px

	}
	.projete{
		margin-right: 20px;
	}
	.projete img{
		/*margin-right: 10%;*/
		height: 300px;
		width: 100%;
		flex-wrap: wrap;
		border-radius: 10px;
	}
	.projete img:hover{
		filter: brightness(70%);
	}
	.projete p{
		flex-wrap: wrap;
		width: 100%;
	}
	.date{
		font-size: 17px;
		color: #818181;
		margin-top: 20px;
	}
	/*================================FOOTER==================================================*/
	.forme{
		
		padding-top: 10px;
		margin-top: 3%;
		background-color: #818181;

	}
	.forme div{
		display: flex;
		flex-direction: column;
		max-width: 400px;
		margin: 0px auto;
	}
	.forme h3{
		text-transform: uppercase;
		color: royalblue;
		font-family: Roboto sans-serif;
		font-size: 1.5em;

	}
	.forme div input{
		height: 30px;
		border-radius: 7px;
		margin-top: 10px;
		border: none;
		display: block;
		outline: 0;
	}

	textarea{
		height: 140px;
		border-radius: 7px;
		margin-top: 10px;
		outline: 0;

		
	}
	button{
		height: 30px;
		background-color: royalblue;
		text-transform: uppercase;
		width: max-content;
		margin: auto;
		margin-top: -2%;
		outline: 0;
		cursor: pointer;

	}
	footer h3{
		text-align: center;
		text-transform: uppercase;
		color: royalblue;
		font-family: Roboto sans-serif;
		font-size: 1.5em;
	}
	footer{
		
	}

	
@media screen and (max-width: 700px){
	
#check{
	display: block;
	opacity: 0;
	cursor: pointer;
}

#check:checked~ul{
	display: grid;
}
ul{
	display: none;
	position: absolute;
	right: 0;
	background-color: #818181;
	width: 40vw;
	height: 160px;
	align-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
	top: 30px;

}
.checkbtn{
	display: block;
    position: absolute;
    top: 0%;
    cursor: pointer;
}


ul a{
	padding: 5px 10px;
	margin: 10px auto;
}
	header{
		margin-top: 10px;
		max-width: 100%;
		text-align: center;
		align-items: center;
	}
	.informe{
		display: none;
		

	}
	.projet{
		flex-wrap: wrap;
		
		
	}
	
	.projete{
		border: none;
		background: none;
		flex-wrap: wrap;
	}
	.projete img{
		width: 100%;
		margin-right: 4%;
	}
	
	input{
		display: block;
	}
	.forme div input{
	outline: 0;
}
textarea{
	outline: 0;
}
button{
	outline: 0;
}
}