@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Roboto:wght@100;300;400&display=swap');
body{
  font-family: Roboto sans-serif;
  padding: 0;
  margin: 0;
	width: 100%;

}

/*================================BAR DE NAVIGATION==================================================*/
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
	width: 100vw;
}
.info{
	display: flex;
	align-items: center;
}
.info img{
     width: 60px;
     height: 60px;
     border-radius: 50%;
}
nav .info h2{
	font-size: 15px;
	margin-left: 10px;
}
ul{
	display: flex;
	list-style: none;
}
nav ul li{
	margin-left: 30px;
	cursor: pointer;
	border-bottom: white;
}
nav ul a li:hover{
	color: yellowgreen;
}
.checkbtn{
	display: none;
}
input{
	display: none;
}
#check{
	display: none;
}
.put{
	position: relative;
}
nav ul a{
	text-decoration: none;
}
/*==========================bref intro=========================*/
.début{
	margin-left: 15px;
}
.début h1{
	text-transform: capitalize;
	font-size: 4em;
	margin-top: 0;
}
.début p{
	margin-top: 10px;
	font-family: "Oswlad" sans-serif;
	font-size: 15px;
}
/*===========================Compétence===============================*/
.compétant{
	display: flex;
	justify-content: space-evenly;
	font-family: "Roboto" sans-serif;
	font-size: 1.5em;
	margin-left: 30px;
	flex-wrap: wrap;
}
.compétant h2{
  text-align: center;
}
.skill{
	margin: 5px auto;
}
h3{
	bottom: 400px;
	color: #818181;
}
/*===============================techniques======================*/
.édul{
	padding: 0;
	position: relative;
	top: 50%;
	text-align: center;
	display: block;
	margin-left: 4%;
}
.éduc{
	display: flex;
	align-items: center;
}
.educ{
	width: 10rem;
	aspect-ratio: 1;
	background: white;
	border-radius: 9rem;
	position: relative;
	overflow: hidden;
	margin: 1.5rem;
	display: grid;
	align-items: center;

}

.educ::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: conic-gradient(royalblue calc(var(--value) * 1%), skyblue 0);
	mask: radial-gradient(white 55%, transparent 0);
	mask-type: alpha;
	-webkit-mask: radial-gradient(#0000 55%, #000 0);
	-webkit-mask-type: alpha;
}

.educ::after{
	counter-reset: percentage var(--value);
	content: counter(percentage) '%';
	font-family: Helvetica, Arial, sans-serif;


}
/*=================================professionnelles====================*/

.édu{
	padding: 0;
	position: relative;
	top: 50%;
	text-align: center;
	display: block;
  margin-right: 4%;

}

.pro{
	width: 10rem;
	aspect-ratio: 1;
	background: white;
	border-radius: 9rem;
	position: relative;
	overflow: hidden;
	margin: 1.5rem;
	display: grid;
	align-items: center;

}

.pro::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: conic-gradient(royalblue calc(var(--value) * 1%), skyblue 0);
	mask: radial-gradient(white 55%, transparent 0);
	mask-type: alpha;
	-webkit-mask: radial-gradient(#0000 55%, #000 0);
	-webkit-mask-type: alpha;

}

.pro::after{
	counter-reset: percentage var(--value);
	content: counter(percentage) '%';
	font-family: Helvetica, Arial, sans-serif;


}

.kill{
	display: flex;
	align-items: center;
}

.expérience #job ol li{
	display: flex;
	line-height: 30px;
	justify-content: center;
}
h2{
	font-size: 40px;
	text-align: center;
}
/*================================FOOTER==================================================*/
	.forme{
		
		padding-top: 10px;
		margin-top: 3%;
		background-color: #818181;

	}
	.forme div{
		display: flex;
		flex-direction: column;
		max-width: 400px;
		margin: 0px auto;
	}
	.forme h3{
		text-transform: uppercase;
		color: royalblue;
		font-family: Roboto sans-serif;
		font-size: 1.5em;

	}
	.forme div input{
		height: 30px;
		border-radius: 7px;
		margin-top: 10px;
		border: none;
		display: block;
		outline: 0;
	}

	textarea{
		height: 140px;
		border-radius: 7px;
		margin-top: 10px;
		outline: 0;

		
	}
	button{
		height: 30px;
		background-color: royalblue;
		text-transform: uppercase;
		width: max-content;
		margin: auto;
		margin-top: -2%;
		outline: 0;
		cursor: pointer;

	}
	footer h3{
		text-align: center;
		text-transform: uppercase;
		color: royalblue;
		font-family: Roboto sans-serif;
		font-size: 1.5em;
	}
	footer{
		
	}
/*=========================responsive=================*/
@media screen and (max-width: 700px){
	#check{
	display: block;
	opacity: 0;
}

#check:checked~ul{
	display: grid;
}
ul{
	display: none;
	position: absolute;
	right: 0;
	background-color: #818181;
	width: 40vw;
	height: 160px;
	align-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
	top: 60px;

}
.checkbtn{
	display: block;
}
.put{
	margin-bottom: 20px;
}
ul a{
	padding: 5px 10px;
	margin: 10px auto;
}
.forme div input{
	outline: 0;
}
textarea{
	outline: 0;
}
button{
	outline: 0;
}
.début h1{
	font-size: 1.5em;
}
.début p{
	
}

.value{
	position: relative;
	left: 0;
	right: 0;
	top: 10px;
	font-size: 1.5rem;
}
.label{
  position: relative;
  left: 100px;
  text-transform: uppercase;
  color: blue;
}
.pro{
	width: 4rem;
	aspect-ratio: 1;
	background: white;
	border-radius: 9rem;
	overflow: hidden;
	text-align: center;
	align-items: center;
}
.educ{
	width: 4rem;
	aspect-ratio: 1;
	background: white;
	border-radius: 9rem;
	overflow: hidden;
	text-align: center;
	align-items: center;
}
.compétant{
	font-size: 0.5em;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
}
.compétant h2{
	font-size: 2em;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
}
.éduc{
	display: flex;
	justify-items: left;
}

.skill{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	margin-bottom: 230px;


}

.édu .skill{
	margin-right: 15%;
}
.forme div{
		display: flex;
		flex-direction: column;
		max-width: 300px;
		margin: 0px auto;
	}
	button{
		color: white;
	}
	.expérience ul li{
		display: flex;
		flex-direction: column;
	}

}