@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Roboto:wght@100;300;400&display=swap');
body{
  font-family: Roboto sans-serif;
  padding: 0;
  margin: 0;
	width: 100%;

}
/*================================BAR DE NAVIGATION==================================================*/
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: antiquewhite;
	z-index: 2;
	width: 100vw;
}
.info{
	display: flex;
	align-items: center;
}
.info img{
     width: 60px;
     height: 60px;
     border-radius: 50%;
}
nav .info h2{
	font-size: 15px;
	margin-left: 10px;
}
ul{
	display: flex;
	list-style: none;
}
nav ul li{
	margin-left: 30px;
	cursor: pointer;
	border-bottom: white;
}
nav ul a li:hover{
	color: yellowgreen;
}
.checkbtn{
	display: none;
}
input{
	display: none;
}
#check{
	display: none;
}
.put{
	position: relative;
}
nav ul a{
	text-decoration: none;
}

@media screen and (max-width: 700px){
	#check{
	display: block;
	opacity: 0;
}

#check:checked~ul{
	display: grid;
}
ul{
	display: none;
	position: absolute;
	right: 0;
	background-color: #818181;
	width: 40vw;
	height: 160px;
	align-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
	top: 60px;

}
.checkbtn{
	display: block;
}
.put{
	margin-bottom: 20px;
}
ul a{
	padding: 5px 10px;
	margin: 10px auto;
}
}